.App {
  text-align: center;
  background: #1678F0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-banner {
  position: absolute;
  width: 100%;
  height: 10%;
  /*left: calc(50% - 1512px/2); /**/
  /*top: 0px; /**/
  background: #0A448A;
  /*border-radius: 0px; /**/
}

.App-title {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 1%;
  top: 50%;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 0px;
  text-align: center;
  
  color: #FFDB49;
}

.App-big-logo {
  position: absolute;
  width: 45%;
  height: 70%;
  left: 5%;
  top: 20%;
}

.App-header {
  background-color: #215eda;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
