.BannerButton {
    position: absolute;
    width: 10%;
    height: 60%;
    left: 84.5%;
    top: 20%;
    background: #FFDB49;
    border-radius: 10px 10px 10px 10px;
    display: table-cell;
    vertical-align: middle;
    /* align-items: center; */
}

.Donate {
    left: 72%;
}

.Profile-submit {
    width: 30%;
    height: 10%;
    top: 87.5%;
    left: 35%;
    background: #11672A;
}

.Create {
    left: 59.5%;
    background: #11672A;
}

.Btn-right {
    left: 67.5%;
}

.Bad-btn {
    left: 2.5%;
    background: #67114E;
}

.ButtonText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 21%;
    left: 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    white-space: pre;
    display: table-cell;
    vertical-align: middle;
    /* transform: translate(0, -50%); */
    /* line-height: ; */
    text-align: center;
    /* vertical-align: middle;
    padding: center; */
    text-decoration-line: underline;
    color: #1678F0;
    /* flex: none;
    order: 0;
    flex-grow: 0; */
}

.White-btn {
    color: #FFFFFF;
    text-decoration:  none;
    top: 20%;
}

.Banner-title {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 12%;
    top: 50%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 74px;
    line-height: 0px;
    text-align: center;
    
    color: #FFDB49;
  }